/* GERAL MODIFICATION */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#geral-container {
  display: flex;
}

.line {
  min-width: 100%;
  height: 1px;
  border: none;
  background-color: #d4d4d4;
}

/* CHILDREN PAGES CONFIGURATION */
.outlet {
  padding: 2rem 0 0 25rem;
}

/* SIDEBAR */
.left-bar {
  width: 15rem;
  height: 100%;
  position: fixed;
  -webkit-box-shadow: 10px 0px 21px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0px 21px -14px rgba(0,0,0,0.75);
  box-shadow: 10px 0px 21px -14px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 3rem 1rem;
  text-decoration: none;
  color: #000;
  z-index: -1;
}

.profile:hover {
  opacity: 0.8;
  cursor: pointer;
}

.account-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url("./assets/profile-picture.jpeg") center /cover;
}

#profile-selection {
  width: 100%;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  border: none;
  appearance: none;
  padding: 0 1rem;
  border-bottom: 1px solid #d4d4d4;
}

#profile-selection:hover {
  cursor: pointer;
}

.pages {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.page {
  padding: 1rem 1rem 1rem;
  text-decoration: none;
  color: #000;
  border-top: 1px solid #d4d4d4;
  transition: all 50ms ease-out;
  display: flex;
  align-items: center;
  gap: 1rem ;
}

.page:last-child {
  border-bottom: 1px solid #d4d4d4;
}

.page:hover {
  background-color: #d8d7d7;
  opacity: 0.8;
}

.icon {
  max-width: 1.5rem;
}

/* PROFILE SECTION */
.profile-page {
  min-width: 55rem;
}
.profile-picture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.profile-content {
  max-width: 55rem;
}

.profile-name {
  font-size: 2rem;
  margin-bottom: 0;
}

.profile-username {
  font-size: 1.2rem;
  margin-top: 0;
}

.status {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: 3px solid #fff;
  position: absolute;
  top: 1rem;
  left: 0rem;
  transition: all 500ms ease-out;
}

.profile-stats {
  color: #4d4d4d;
}

.posts-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.post-detail, .post-feedback {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.post-like-icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.post-like-icon:hover {
  opacity: 0.6;
}

.friends-list {
  display: flex;
  flex-direction: column;
}

.friend-card {
  max-width: 57rem;
  height: 8rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid #d4d4d4;
  padding-right: 5rem;
}

.friend-name {
  color: #000;
}

.friend-profilePicture {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  object-fit: cover;
}

.friend-option {
  margin-left: auto;
  color: #000;
  cursor: pointer;
}

/* PAGE NOT FOUND */
.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: .5rem;
  height: 39.8rem;
}

.error-page h1 {
  font-size: 3rem;
}

.error-page h3 {
  color: #4d4d4d;
}